/* shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 0px;
}

nav>ul {
    display: flex;
    align-items: center;


}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

/* button-primary */
.btn-primary {

    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* header related style */
header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    max-width: 500px;
}

.banner .banner-img {
    width: 500px;

}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* main section style */
main section {
    margin-top: 130px;
}

main {
    max-width: 1140px;
    /* to make out main section into center we can simply do justify-content:center;  */
    /* But we can also use margin: 0 auto; */
    /* auto means o left right e equally portion niye centerized korbe */
    margin: 0 auto;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

.info-title {
    color: black;
    font-size: 20px;
}

.info-descrption p {
    font-weight: 400;
    color: #757575;

}

#what-i-do-description {
    padding: 30px 150px;
}

/* What I do section */
.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skills {
    padding: 30px;
    /* box-shadow: 5px 5px 5px #b6b3b3; */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-description {
    color: #757575;
}

/* resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-item-description {
    max-width: 500px;
    color: #757575;
}
.resume-item-institute
{
    color: #757575;
    margin-top:0;
    margin-bottom: 20px;
}


.resume-item-title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 5px;
}
.resume-container hr
{
     margin: 10px;
}

.resume-btn
{
     text-align: center;
     margin-top: 50px;
}

/* footer style */
footer
{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 130px;
}
.footer-column
{
    padding:130px 200px;
    width: 50%;
}

/* contact */
.contact input[type="text"],input[type="email"],
textarea
{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: white;
    border: 0;
    box-shadow: 5px 5px 10px #757575;
    width: 100%;
}

.social-links a
{
    margin-right: 25px;
}

